{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-packagejson", "prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "keywordCase": "upper",
        "identifierCase": "lower",
        "linesBetweenQueries": 2,
      },
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
      },
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
      },
    },
  ],
}
